@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    outline: none;
}

.selection-disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: Roboto, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, sans-serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

/**************************/

:root {
    --content-width: 20vw;
    --content-height: calc(var(--content-width) * 0.75);
}

#works {
    display : -webkit-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
    justify-content  : space-around;
    background-color : aquamarine;
    padding-left  : 4%;
    padding-right : 4%;
    width         : 100%;
}

.work-container {
    position: relative;
    display: block;
    background-color: white;
    background-size: cover;
    background-position: center center;
    text-align:  center;
    cursor: pointer;
    border-radius: 2vh;
    width     : var(--content-width);
    height    : var(--content-height);
    margin    : 10px;
}

.work-container span {
    display : -webkit-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 1.7em;
    padding: 2%;
    border-top-left-radius : 2vh;
    border-top-right-radius: 2vh;
    font-size: 1.0em;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6), 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 1px 0 rgba(0, 0, 0, 0.6);
    transition: height 0.15s ease-out;
}
.work-container:hover span {
    height: 100%;
    border-radius: 2vh;
    transition: height 0.15s ease-out;
}